/* default tags */

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
  
    overflow-x: hidden;
    
    min-width: 300px;
    color: #999;
}

em {
    font-style: normal;
}

ul li {
    
    list-style: none;
    display: flex;
    flex-direction: row;

}

i {
    color: #999;
}


/* custom css */


.menu-list {
    display: flex;
    flex:4;
    width: 100vw;
    align-items: center;
    justify-content: center;
   
    
}

.mobile {
    display: none;
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.container {

    
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.top-container {
    
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 60vh !important;
    background: url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   

}

.navigation {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 10vh;
    padding: 0px 10px 20px 10px;
    margin: 10px 0px 10px 0px;
    background: transparent;
    line-height: 140px;

    
}



.logo {
    display: flex;
    flex: 1;
    height: fill;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
}

.logo-actual {
    width: 155px;
    height: 31px;
    background: url('logo.svg');
    background-repeat: no-repeat;
}

.menu-option {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 5px solid transparent;
  letter-spacing: 1px;
  font-weight: 500;
}

.menu-option:hover {
    border-bottom: 5px solid yellow;
}


.promotional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
   
    height: 100%;
    justify-content: center;
}

.promotional-actual {

    display: flex;
    flex-direction: inherit;
    align-items:center;
    justify-content: center;
    width: 60vw;
   
    height:  inherit;
    padding: 10px;
}

.big {
    display: flex;
    flex-direction: column;
    
    flex-wrap: nowrap;
    
}

.under_promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sm {
    margin: 0;
    padding:0;
}

.bg {
    margin: 0;
    padding: 0;
    font-size: 10vh;
   
}



.motto {
    text-align:center;
}


.block {
    background: white;
    width: 50px;
    height: 10px;
    margin: 0 3px 0 3px;
}

.text {
    text-transform: uppercase;
    font-size: 36px;
    margin: 30px;
    color: #666;
}

.flexify {

    display: flex;
    flex-direction: row;
    flex: 12;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
   

}

.content-1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: fit-content;
    padding: 20px;
    padding: 10px 0px 10px 0px;
   
}



.flexify:after {
    display: block;
    clear: both;
    content: "";
}


/* buttons */

.btn-big {
    
    
    width: 30vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background: #bdd436;
    color: white;
    font-weight: bold;
    font-size: 15px;

}

.btn-small {
    width: 20vw !important;
    margin: 30px;
}

.padding
{
    padding: 20px;
}

.explainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
   
    align-items: center;
    justify-content: center;
}

.explained {
    display: flex;
    flex-direction: column;
    width: 50vw;
    color: #666;
    font-size: 1.5rem;
    
}

.how-it-works {
    display: flex;
    width: 100vw;
    height: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-sub {

    display: flex;
    flex-direction: column;
    flex-direction: row;;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    
    flex-wrap: wrap;
}

.sub-zero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 20px;
}

.content-sub-x {

    display: flex;
    flex-direction: column;
    flex-direction: row;;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
    flex-wrap: wrap;
}

.content-sub-x-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    min-height: 20px;
    height: fit-content;
    padding: 40px;
    flex-wrap: wrap;
    word-wrap: break-word;
    background: white;
    color: #999;
  
}

.content-sub::after {
    display: block;
    clear: both;
    content: "";
}

.content-sub-x::after {
    display: block;
    clear: both;
    content: "";
}


.widened {
    width: 30vw !important;
}

.content-sub-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 40vh;
    padding: 40px;
    background: white;
    color: #999;
  
}

.fit {
    height: fit-content;
}

.pre {
    width: 100%;
    text-align: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.seam {
    padding: 0;
    margin: 0;
}

.content-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.pic {
    display: flex;
    width:30vw;
    height: 30vh;
    background: gray;
}

.content-gallery::after {
    display: block;
    clear: both;
    content: "";
}

.addr1 {
  background: url('pic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.addr2 {

}

.business-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: teal;
}

.border-lg {
    border-bottom: 5px solid #bdd436;
}

.address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.address-actual {
    width: 50vw;
    height: 40vh;
   
}




/* colors */


/* text colors */
.orange {
    color: orange;

}

.light-green {
    color: #bdd436;
}

.blue {
      color: #444;
}

.white {
    color: #fff;
}

/* containers */

.gray {
   background: transparent;
}




/* media queries / responsive? i guess */

@media screen and (max-width: 999px){
    .menu-option {
        display: none;
    }

    .mobile {
        display: flex;
        flex: 1;
        color: gray;
    }

    .btn-big {
        width: 90vw;
    }

    


    .logo {
        display: block;
    }

    

    .menu-list {

        display: flex;
        justify-content: flex-end;
    }

    .explained {
        width: 90vw;
        line-height: 1.5;
        text-align: center;
        margin: 0 5px 0 5px;
        font-size: 20px;
        
    }

    .big {
        transform: scale(0.8);
    }

    .content-sub-1 {
       width: 100vw;
    }

    .pre {
        width: 50vw;
    }

    .business-email 
    {
        flex-direction: column;
    }

    

    
     

}

@media screen and (max-width: 768px){
    .navigation {

        animation: ease-in-out;
        animation-name: navEffect;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 1121px){
    .content-sub-x-1 {
        width: 100vw;
        margin-top: 20px;
    }

    .pic {
        width: 100vw;
        height: 60vw;
    }
}

@keyframes navEffect {
    50% {
        background: rgba(255,255,255,0.5)
    }

    100% {
        background: rgba(255,255,255,1)
    }
}