/* default tags */

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: 'Lato';
    overflow-x: hidden;
}

ul li {
    
    list-style: none;
    display: flex;
    flex-direction: row;

}


/* custom css */


.menu-list {
    display: flex;
    flex:4;
    width: fit-content;
    align-items: center;
    justify-content: center;
   
    
}

.mobile {
    display: none;
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.container {
    width: 100vw;
    height: 100vh;
}

.top-container {
    
    display: flex;
    flex-direction: column;
    
    width: inherit;
    height: 60vh;
    background: url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   

}

.navigation {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: fit;
    padding: 10px;
    background: transparent;

    
}



.logo {
    display: flex;
    flex: 1;
    height: fill;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
}

.logo-actual {
    width: 155px;
    height: 31px;
    background: url('logo.svg');
    background-repeat: no-repeat;
}

.menu-option {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 5px solid transparent;
  letter-spacing: 1px;
  font-weight: 500;
}

.menu-option:hover {
    border-bottom: 5px solid yellow;
}


.promotional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    justify-content: center;
}

.promotional-actual {

    display: flex;
    flex-direction: inherit;
    align-items:center;
    justify-content: center;
    width: 60vw;
    height:  inherit;
    padding: 10px;
}

.big {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    
}

.under_promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sm {
    margin: 0;
    padding:0;
}

.bg {
    margin: 0;
    padding: 0;
    font-size: 10vh;
   
}



.motto {
    text-align:center;
}


.block {
    background: white;
    width: 50px;
    height: 10px;
    margin: 0 3px 0 3px;
}


/* buttons */

.btn-big {
    
    
    width: 40vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background: #bdd436;
    color: white;
    font-weight: bold;
    font-size: 15px;

}





/* colors */


/* text colors */
.orange {
    color: orange;

}

.light-green {
    color: lightgreen;
}

.white {
    color: #fff;
}




/* media queries / responsive? i guess */

@media screen and (max-width: 999px){
    .menu-option {
        display: none;
    }

    .mobile {
        display: flex;
        flex: 1;
        color: gray;
    }

    


    .logo {
        display: block;
    }

    

    .menu-list {

        display: flex;
        justify-content: flex-end;
    }

}

@media screen and (max-width: 768px){
    .navigation {

        animation: ease-in-out;
        animation-name: navEffect;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes navEffect {
    50% {
        background: rgba(255,255,255,0.5)
    }

    100% {
        background: rgba(255,255,255,1)
    }
}